<app-header titulo="Dashboard"></app-header>

<div style="width: 600px; margin-left: unset;" class="container">
  <app-container-formulario titulo="Gráfico de barras">
    <div class="row">
      <div class="col-12 text-center">
        <div id="grafico">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>
    </div>
    <!-- <app-line-chart></app-line-chart>
      <app-bubble-chart></app-bubble-chart>
      <app-bar-chart></app-bar-chart>
      <app-doughnut-chart></app-doughnut-chart>
      <app-pie-chart></app-pie-chart> -->
  </app-container-formulario>
</div>
