<app-container-formulario [removerEstilizacao]="true">
  <div *ngIf="infoComplementarVisualizar">

    <div class="row row-form">
      <div class="col-7 text-right">
        Área a ser parcelada (m²):
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.areaParcelada | metragem}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3" *ngIf="exibirTerrenoIndiviso">
      <div class="col-7 text-right">
        Área do Terreno indiviso:
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.areaTerrenoIndiviso ? (infoComplementarVisualizar?.areaTerrenoIndiviso | metragem) : '-'}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        O terreno possui APP?
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.existenciaApp === simNaoEnum.S ? 'Sim' : 'Não'}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        Informar a declividade atual do terreno:
      </div>
      <div class="col-5">
        <div class="form-check" *ngFor="let declividade of infoComplementarVisualizar?.declividades; let i = index">
          {{ (infoComplementarVisualizar?.declividades.length > 1
            && i != (infoComplementarVisualizar?.declividades.length - 1)) ?
            declividade + ',' : declividade }}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        Trata-se de parte de lote aprovado em razão de desapropriação comprovada?
        <br><br>
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.desapropriacaoComprovada === simNaoEnum.S ? 'Sim' : 'Não'}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        Trata-se de anexação de área remanescente, adquirida pelo município, a lote aprovado?
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.anexoLoteAprovado === simNaoEnum.S ? 'Sim' : 'Não'}}
        </div>
      </div>
    </div>

    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        Terrenos aterrados com material nocivo à saúde?
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.aterradoMaterialNocivo === simNaoEnum.S ? 'Sim' : 'Não'}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        Existe edificação construída no terreno?
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.edificacaoConstruida === simNaoEnum.S ? 'Sim' : 'Não'}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3" *ngIf="infoComplementarVisualizar?.taxaPermeabilidade">
      <div class="col-7 text-right">
        Taxa de permeabilidade atual do terreno:
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.taxaPermeabilidade}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        Trata-se de regularização de parcelamento pela lei municipal Nº 9.074/2005?
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.lei9074 === simNaoEnum.S ? 'Sim' : 'Não'}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        Existe projeto aprovado ou baixado que não foi identificado pelo sistema?
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.projetoBaixoAprovado === simNaoEnum.S ? 'Sim' : 'Não'}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        Requerente integrante do Poder Público?
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.poderPublico === simNaoEnum.S ? 'Sim' : 'Não'}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3">
      <div class="col-7 text-right">
         Poder Público:
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.descricaoPoderPublico || '-'}}
        </div>
      </div>
    </div>
    <div class="row row-form mt-3">
        <div class="col-7 text-right">
          O terreno engloba áreas ou vias públicas, que não sejam áreas remanescentes adquiridas junto ao
          Município ou áreas comprovadamente desapropriadas pelo município?
        </div>
        <div class="col-5">
          <div class="form-check">
            {{infoComplementarVisualizar?.viasPublicas === simNaoEnum.S ? 'Sim' : 'Não'}}
          </div>
        </div>
      </div>
    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        Intenção e descrição da proposta:
      </div>
      <div class="col-5">
        <div class="form-check" *ngFor="let tiposProposta of infoComplementarVisualizar?.tiposProposta; let i = index">
          {{ (infoComplementarVisualizar?.tiposProposta.length > 1
                      && i != (infoComplementarVisualizar?.tiposProposta.length - 1)) ?
                      tiposProposta + ',' : tiposProposta }}
        </div>
      </div>
    </div>

    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        A proposta prevê a criação de lotes maiores que 10.000m²?
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.loteMaior10mil === simNaoEnum.S ? 'Sim' : 'Não'}}
        </div>
      </div>
    </div>

    <div class="row row-form mt-3">
      <div class="col-7 text-right">
        A proposta prevê alteração da vinculação de parcelamento do solo aprovado?
      </div>
      <div class="col-5">
        <div class="form-check">
          {{infoComplementarVisualizar?.vinculacaoAprovada === simNaoEnum.S ? 'Sim' : 'Não'}}
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="infoComplementarVisualizar === undefined">
    <app-lista-vazia [mensagem]="'Adicione aqui as informações complementares do seu requerimento.'">
    </app-lista-vazia>
  </div>

</app-container-formulario>
