<div style="padding-bottom: 60px;" [ngClass]="{ 'mb-3': !removerMarginBottom }" class="container container-lista-form">
  <div class="row card-form">
    <div class="col-12 text-left row-titulo" *ngIf="titulo">
      <span class="{{ tituloClasse }}" [innerHTML]="titulo"></span>
    </div>

    <div class="col-12">
      <div [ngClass]="backGradient ? 'backGradient' : ''" class=" bordered card-form-box">
        <ng-content></ng-content>
      </div>
    </div>

    <!-- <div *ngIf="!backColor" class="col-12">
      <div [ngClass]=" removerEstilizacao ? ' ' : 'card-form-box' " class="bordered">
        <ng-content></ng-content>
      </div>
    </div> -->
  </div>
</div>
