<div style="width: fit-content; margin: auto; margin-bottom: 70px;">
  <div style="margin: auto;" class="container-header">
    <h2 class="mt-4">O²</h2>
  </div>
  <div style="width: 600px; margin-left: unset;" class="container">
    <app-container-formulario>
      <div class="row">
        <div class="col-12 text-center">
          <div id="grafico">
            <a style="font-size: 80px;">{{phAtual.valor}}</a><a style="font-size: 40px;"> mg/l</a>
            <br>
            <a>
              {{phAtual.legenda}} </a>
          </div>

        </div>
      </div>
    </app-container-formulario>
  </div>
</div>
