<div style="width: fit-content; margin: auto; margin-bottom: 70px;">
  <div style="margin: auto;">
    <h2 class="mt-4">pH</h2>
  </div>
  <div class="container-header">
    <app-container-formulario>
      <div class="row">
        <div class="col-12 text-center">
          <div style=" margin-left: 29px; margin-right: 29px;" id="grafico">
            <a style="font-size: 80px; padding-left: 16px; padding-right: 16px;">{{phAtual.valor}}</a><a
              style="font-size: 20px;"></a>
            <br>
            <a>
              {{phAtual.legenda}} </a>
          </div>

          <!-- <div style="width: 70px; flex-wrap:unset!important; margin-left: 5%;" class="row">
            <div title="{{escala.legenda}}" *ngFor="let escala of escalasPH" class="w3-row w3-center"
              style="margin:0 -16px;line-height:80px;color:white;width: 60px; ">
              <div style="cursor: pointer;" class="w3-col l3 m6 w3-padding">
                <div style="border-radius: 5px;" ngClass="ph{{escala.valor}}"><a>{{escala.valor}}</a></div>
              </div>
            </div>
          </div> -->

        </div>
      </div>
      <!-- <app-line-chart></app-line-chart>
        <app-bubble-chart></app-bubble-chart>
        <app-bar-chart></app-bar-chart>
        <app-doughnut-chart></app-doughnut-chart>
        <app-pie-chart></app-pie-chart> -->
    </app-container-formulario>
  </div>
</div>
