.ph7 {
  background-color: #33A94A;
  text-decoration: none;
}

.ph6{
  background-color: #4DB749;
  text-decoration: none;
}

.ph5{
  background-color: #83C240;
  text-decoration: none;
}

.ph4{
  background-color: #B5D333;
  text-decoration: none;
}

.ph3{
  background-color: #F4EC1B;
  text-decoration: none;
}

.ph2{
  background-color: #F8C611;
  text-decoration: none;
}

.ph1{
  background-color: #F26724;
  text-decoration: none;
}

.ph0{
  background-color: #EE1C25;
  text-decoration: none;
}

.ph8{
  background-color: #EE1C25;
  text-decoration: none;
}

.ph9{
  background-color: #09BAB4;
  text-decoration: none;
}

.ph10{
  background-color: #4690CC;
  text-decoration: none;
}

.ph11{
  background-color: #3853A4;
  text-decoration: none;
}

.ph12{
  background-color: #5A51A2;
  text-decoration: none;
}

.ph13{
  background-color: #63459D;
  text-decoration: none;
}

.ph14{
  background-color: #462C83;
  text-decoration: none;
}
