<app-container-formulario>

  <div class="row">

    <app-container-formulario titulo="Racionamento">
      <app-bar-chart [fluxo]='"racao"'></app-bar-chart>
    </app-container-formulario>

    <!-- <app-container-formulario titulo="Qualidade da água">
      <app-doughnut-chart></app-doughnut-chart>
    </app-container-formulario> -->

    <app-container-formulario titulo="Desenvolvimento do camarão">
      <app-bar-chart [fluxo]='"gramatura"'></app-bar-chart>
    </app-container-formulario>

    <!-- <app-container-formulario titulo="Relatórios">
    </app-container-formulario> -->
  </div>

</app-container-formulario>
