@media screen and (max-width: 576px) {
  .chart-feedback {
    display: none;
  }
}


.modal-body {
  border: 1px solid lightgray;
    padding: 10px;
    border-radius: 4px;
    margin: 15px;
    background: lightblue;
}
