<div class="col-sm">
  <div style="margin-left: 33px;" class="container">
    <div class="row">
      <div class="col-sm">
        <h6 style="margin-top: 9px;" class="">{{aerador.id}}</h6>
      </div>
      <div class="col-sm">
        <button class="btn btn-block" (click)="removerAerador(aerador)" mat-icon-button color="warn"
          aria-label="Remover aerador">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <button [disabled]="loading" (click)="ligarDesligarAerador(aerador)"
    class="btn-acesso btn-acesso-dir align-self-end mb-2">
    <img class="img-btn-acesso" src="/assets/img/{{aerador.status}}.svg" alt="">
    <span class="text-acesso">{{aerador.status ? 'Ligado' : 'Desligado'}}</span>
  </button>
  <br>

  <div *ngIf="!loading" style="margin-bottom: 40px;"></div>
  <div *ngIf="loading" class="spinner-grow text-{{aerador.status ? 'danger' : 'success'}}" role="status">
    <span class="sr-only">Loading...</span>
  </div>

</div>
