<app-container-formulario tituloClasse="h4" titulo="CÂMERAS DO VIVEIRO - 0{{viveiroID}}">
  <div class="animation-fade row">
    <div class="container2 mr-4">
      <div style="margin: 20px;" class="grid-container">
        <a>CÂMERA - 01</a>
        <a rel="nofollow" target="new"><img style="width: 500px;" id="image0"
            src="http://208.72.70.171:80/mjpg/video.mjpg" class="img-responsive img-rounded detailimage" alt=""
            title="Click here to enter the camera located in United States, region Colorado, Glenwood Springs"></a>
      </div>
    </div>
    <div class="container2 mr-4">
      <div style="margin: 20px;" class="grid-container">
        <a>CÂMERA - 02</a>
        <a rel="nofollow" target="new"><img style="width: 500px;" id="image0"
            src="http://208.72.70.171:80/mjpg/video.mjpg" class="img-responsive img-rounded detailimage" alt=""
            title="Click here to enter the camera located in United States, region Colorado, Glenwood Springs"></a>
      </div>
    </div>
  </div>

</app-container-formulario>
