.detailimage {
  display: inline-block;
  text-align: center;
  width: 85%;
}

.img-rounded {
  border-radius: 6px;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container2 {
  padding: 10px;
  border-radius: 10px;
	width: 550px;
  background: #fff;
  margin-top: 20px;
  margin-left: 30px;
  box-shadow: 0 1px 19px #00000045;
}
