<div class="container-fluid bg-light d-print-none bordered-transparency mb-4">
  <nav class="navbar navbar-expand-lg">

    <a class="navbar-brand" href="#">
      <img class="img-logo" src="assets/img/shrimp.png" alt="Logo">
    </a>

    <div class="div-vertical mr-3"></div>

    <span class="titulo"><b>ShrimpLy</b></span>

    <div class="nav-btn-outter ml-auto">
      <div class="nav-btn">

        <div>
          <button routerLink="../dashboard" class="btn btn-requerimento">Dashboard</button>
        </div>

        <!-- <ng-template #tooltip>
          <button class="btn btn-requerimento btn-disabled" placement="bottom" [tooltip]="texto">Novo
            requerimento</button>
        </ng-template> -->

        <!-- <div class="dropdown">
          <a class="nav-item nav-link text-dark dropdown-toggle color-hover" type="button" id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ações
          </a>

          <ul class="dropdown-menu multi-level multi-nav" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-item">
              <a>Gerenciar Regras</a>
            </li>
            <li class="dropdown-item">
              <a>Gerenciar Documentação</a>
            </li>

            <li class="dropdown-divider"></li>
            <li class="dropdown-submenu">
              <a class="dropdown-item">Designar Análise Documental</a>
              <ul class="dropdown-menu sub-analise">
                <li class="dropdown-item">
                  <a>Designar Análise</a>
                </li>
                <li class="dropdown-item">
                  <a>Meus Requerimentos
                    Designados</a>
                </li>
              </ul>
            </li>

            <li class="dropdown-item">
              <a>Analisar Isenção de Guias</a>
            </li>
          </ul>

        </div> -->

        <a class="nav-item nav-link text-dark color-hover" routerLink="../cameras">Câmeras</a>
        <a class="nav-item nav-link text-dark color-hover" routerLink="../aeradores">Aeradores</a>
        <a class="nav-item nav-link text-dark color-hover" routerLink="../racao">Ração</a>
      </div>
    </div>

  </nav>
</div>
