<app-header></app-header>
<app-container-formulario *ngIf="flag" backGradient="true" tituloClasse="h4" titulo="Viveiro {{viveiro}}">

  <!-- <div class="titulo">
    <app-header></app-header>

    <div class="container-fluid">
      <div class="row animation-fade">
        <div class="col-sm-7">
          <br>
          <h3 class="sub-titulo-aplicacao">Bem-vindo ao <b>ShrimpLy</b>
          </h3>
          <br>
          <a class="home-acesso-interno-esquerdo panel">
            <ul class="ml-4 mt-4">
              <li class="item-text">
                Monitorar medidas do viveiro e do ambiente;
              </li>
              <li class="item-text">
                Controle de câmeras de segurança;
              </li>
              <li class="item-text">
                Estatísticas referente ao manejo aplicado;
              </li>
              <li class="item-text">
                Ajuda no manejo do pós larva;
              </li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <nav class="animation-fade row">
    <!-- <div class="row linha-options justify-content-center"> -->

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="estrategias">
          <img class="img-btn-acesso" src="assets/img/estrategia.svg" alt="">
          <span class="text-acesso">ESTRATÉGIAS</span>
        </button>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="racao">
          <img class="img-btn-acesso" src="assets/img/planilha.svg" alt="">
          <span class="text-acesso">CONTROLE DE MEDIÇÕES</span>
        </button>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="cameras">
          <img class="img-btn-acesso" src="assets/img/cam.svg" alt="">
          <span class="text-acesso">CÂMERAS</span>
        </button>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="calculos">
          <img class="img-btn-acesso" src="assets/img/calculadora2.svg" alt="">
          <span class="text-acesso">CÁLCULOS</span>
        </button>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="aeradores">
          <img class="img-btn-acesso" src="assets/img/fan.svg" alt="">
          <span class="text-acesso">AERADORES</span>
        </button>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="despesas">
          <img class="img-btn-acesso" src="assets/img/orcamento.svg" alt="">
          <span class="text-acesso">DESPESAS</span>
        </button>
      </div>
    </div>

    <!-- <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="receitas">
          <img class="img-btn-acesso" src="assets/img/receitas.svg" alt="">
          <span class="text-acesso">RECEITAS</span>
        </button>
      </div>
    </div> -->

    <!-- </div> -->
  </nav>

</app-container-formulario>
<router-outlet (deactivate)='flag = !flag' (activate)='flag = !flag'></router-outlet>
