<img class="img-background" src="assets/img/home5.jpg" alt="">

<a class="home-acesso-interno panel">
  <div class="panel-body" title="Acesso interno">Login</div>
</a>

<div class="container-fuild">

  <div class="titulo">
    <app-header></app-header>

    <div class="container-fluid">
      <div class="row animation-fade">
        <div class="col-sm-7">
          <br>
          <h3 class="sub-titulo-aplicacao">Bem-vindo ao <b>ShrimpLy</b>
          </h3>
          <br>
          <ul>
            <li class="item-text">
              Monitorar medidas do viveiro e do ambiente;
            </li>
            <li class="item-text">
              Controle de câmeras de segurança;
            </li>
            <li class="item-text">
              Estatísticas referente ao manejo aplicado;
            </li>
            <li class="item-text">
              Ajuda no manejo do pós larva;
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="animation-fade">
    <div class="row linha-options justify-content-center">

      <div class="col-md-4 d-flex justify-content-center text-center container">
        <div class=" box">
          <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="../pesquisar-requerimento">
            <img class="img-btn-acesso" src="assets/img/app.svg" alt="">
            <span class="text-acesso">NOTÍCIAS</span>
          </button>
        </div>
      </div>

      <div class="col-md-4 d-flex justify-content-center text-center container">
        <div class=" box">
          <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="../login-proprietario">
            <img class="img-btn-acesso" src="assets/img/product.svg" alt="">
            <span class="text-acesso">INSUMOS</span>
          </button>
        </div>
      </div>

      <div class="col-md-4 d-flex justify-content-center text-center container">
        <div class=" box">
          <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="../login-proprietario">
            <img class="img-btn-acesso" src="assets/img/receitas.svg" alt="">
            <span class="text-acesso">RECEITAS</span>
          </button>
        </div>
      </div>

    </div>
  </div>

</div>
