::ng-deep .header-nome-aplicacao > h5 {
  font-size: 180%;
  margin-top: 2.6% !important;
  font-weight: lighter;
}

::ng-deep .header-nome-aplicacao {
  margin-top: -1.4% !important;
}

.box-inputs {
  margin: 3% 0% 5% 0%;
}

.form-control {
  margin-bottom: 2%;
}

.checkbox-label {
  margin-left: 4px;
  color: #626262;
  font-size: 80%;
}

.btn-light {
    border: 2px solid rgba(187, 187, 187, 0.25);
}

.btn-light:hover {
    border: 2px solid rgba(187, 187, 187, 0.80);
}

.line {
    background-color: #ccc;
    height: 2px;
    overflow: hidden;
    width: 100%;
}

.input-group-border > input:nth-child(odd) {
    border-bottom: 0;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
}

.input-group-border > input:nth-child(even) {
    border-radius: 0 0 3px 3px;
}

span#recuperar-senha {
    color: #007bff;
    cursor: pointer;
}
#senhaLogin{
    margin-bottom: 5%;
}
#continuarConectado{
    vertical-align: middle;
}
#ou{
    color: #ccc;
}
.middle-div{
    height: 80px;
}
