<div class="login-box">

    <form [formGroup]="formResponsavelLogin">
        <div class="box-inputs">
            <div class="form-group input-group-border">
                <app-input-container [exibirApenasValidators]="['required']" [exibirClose]="false"
                    [mensagemToValidators]="[{'required':'O CPF/CNPJ é obrigatório'}]">
                    <input type="text" appCpfCnpjMask maxlength="18" class="form-control" name="CPF/CNPJ"
                        formControlName="cpfCnpjLogin" id="cpfCnpjLogin" placeholder="CPF/CNPJ">
                </app-input-container>
                <app-input-container [exibirApenasValidators]="['required']" [exibirClose]="false"
                    [mensagemToValidators]="[{'required':'A senha é obrigatória'}]">
                    <input type="password" name="Senha" class="form-control"
                        formControlName="senhaLogin" id="senhaLogin" placeholder="Senha" maxlength="12">
                </app-input-container>

                <div class="row">
                    <div class="col">
                        <input type="checkbox" id="continuarConectado">
                        <label class="checkbox-label" for="continuarConectado">Continuar conectado</label>
                    </div>
                    <div class="col">

                        <span id="recuperar-senha" class="text-right"
                            (click)="abrirModal(recuperarSenhaModal)">Recuperar
                            senha</span>
                    </div>
                </div>
            </div>
        </div>

        <button (click)="loginUser()" type="button" class="btn btn-login">Entrar</button>

        <div class="middle-div row d-flex align-items-center">
            <div class="col-5">
                <div class="line"></div>
            </div>
            <div id="ou" class="col-2 font-weight-bold">
                OU
            </div>
            <div class="col-5">
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <!--(click)="abrirModal()"-->
                <button type="button" class="btn btn-light btn-lg btn-block" [routerLink]="linkCadastro">
                    Cadastre-se
                </button>
            </div>
        </div>

    </form>

</div>

<ng-template #recuperarSenhaModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Recuperar Senha</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formRecuperarSenha" class="container">
            <div class="row mb-3 d-flex justify-content-center align-items-center">
                <div class="col-4 text-right">
                    <label for="cpfCnpj" class="required-field font-weight-bold">CPF/CNPJ</label>
                </div>
                <div class="col-6">
                    <input type="text" appCpfCnpjMask id="cpfCnpj" class="form-control"
                        formControlName="recuperarSenha">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="ml-auto">
                        <button type="button" (click)='fecharModal()' class="btn btn-outline-secondary">Cancelar
                        </button>
                        <button [disabled]="!formRecuperarSenha.valid" type="button" (click)="recuperarSenha()" class="btn btn-primary ml-2">
                            Recuperar Senha
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
