
body {
    background-color: #ecf0f1;
}

.btn-style {
    font-size: 91%;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 4px;
    background-color: #ffffffe6;
    box-shadow: 2px 2px 5px #00000091;
    word-break: break-all;
    border-radius: 10px;
}

.btn-style:hover {
    font-size: 91%;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 4px;
    background-color: #dedede;
    box-shadow: 3px 3px 7px black;
    cursor: pointer;
    word-break: break-all;
    border-radius: 10px;
}

.btn-style-login {
    font-size: 100%;
    width: 12%;
    height: 84%;
    margin-top: 3%;
    padding: 4px;
    background-color: #ffffffe6;
    box-shadow: 2px 2px 5px #00000091;
    word-break: break-all;
    border-radius: 10px;
}

.btn-style-login:hover {
    font-size: 100%;
    width: 12%;
    height: 84%;
    margin-top: 3%;
    padding: 4px;
    background-color: #dedede;
    box-shadow: 3px 3px 7px black;
    cursor: pointer;
    word-break: break-all;
    border-radius: 10px;
}

.animation-fade {
    margin-bottom: 2rem;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.field {
    padding: 5px;
    border-radius: 3px;
    background-color: #5BC0DE;
}

.has-error-block {
    color: #dd4b39;
}

.has-error {
    font-size: 14px;
}

.app-style {
    background-color: #ecf0f1;
}

.ajuste-form-pesquisa {
    margin-left: 10px;
}

.ajuste-pesquisa {
    margin-left: 50px;
}

.ajuste-detalhe {
    margin-left: 22px;
}

#map {
    height: 74vH;
    width: calc(52vW - 5em);
}

.cursor {
    cursor: pointer;
}

.ng-select.is-invalid>.ng-select-container {
    border-color: #a94442;
}


#footer {
    clear: both;
    width: 100%;
}

.container-all {
    margin-bottom: -53px;
    min-height: 100vh;
}

.login-titulo {
    display: flex;
    flex-direction: column;
}

.login-titulo>span {
    text-transform: uppercase;
    color: #626262;
    font-size: 140%;
    font-weight: 500;
}

.login-titulo>img {
    height: 35%;
    margin-bottom: 3%;
}

.login-box {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 6px 8px #00000052;
    padding: 30px 20px;
    width: 350px;
}

.btn-login {
    width: 100%;
    color: #fff;
    background-color: #5161b7;
    border-radius: 7px;
}

.required-field::after {
    content: "*";
    color: red;
    font-size: 1.25rem;
    line-height: 0;
    padding-left: 0.15rem;
}

.badge-status-cdt {
    background-color: rgb(91, 192, 222);
    color: white;
}

.badge-status-env {
    background-color: #2e6da4!important;
    color: white;
}

.badge-status-act {
    background-color: #3f903f!important;
    color: white;
}

.badge-status-anad {
    background-color: #df9631!important;
    color: white;
}

.badge-status-nact {
    background-color: red!important;
    color: white;
}

.badge-status-adl{
    background-color: rgb(231, 197, 5)!important;
    color: white;
}

.btn-form {
    padding: 5px 40px;
    margin-right: 5px;
}

.bg-alert-app {
    background-color: rgb(240, 173, 78);
}

.bg-success-app {
    background-color: #3f903f;
}

.bg-info-app {
    background-color: #5BC0DE;
}

.bg-error-app {
    background-color: #D9534F;
}

.table-info-hr {
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, .1)
}

.link-detalhes {
    color: #007bff !important;
    cursor: pointer !important;
}

.link-detalhes:hover {
    text-decoration: underline !important;
}

.titulo-informacoes-altura {
    font-size: 13px;
}

.loading-table-container {
    position: absolute;
    left: 50%;
}

.loading-table-container>svg {
    color: #007bff!important;
}

.table-opac {
    opacity: 0.2;
}

.btn-requerimento {
    background-color: #5161b7;
    border-color: #5161b7;
    color: #FFFFFF;
    margin-right: 25px;
}

.btns-row {
    margin-top: 15px;
}

.label-error {
    color: #dd4b39;
}

.container-header{
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 200px;
  background: #fff;
  background-color: cadetblue;
  box-shadow: 0 3px 19px;
}

.container-header h2 {
  text-align: center;
  font-size: 26px;
}

.container-valor {
  background-color: white;
    padding: 35px;
    box-shadow: 0 1px 19px #00000045;
    min-height: 50px;
    border-radius: 15px 50px;
}
