<app-header></app-header>
<app-container-formulario *ngIf="flag" backGradient="true" tituloClasse="h6"
  titulo="Viveiro {{viveiro.id}} - ( {{viveiro.proprietario}} / {{viveiro.densidade}} mil / {{viveiro.laboratorio | uppercase}} ) ">

  <nav class="animation-fade row">
    <!-- <div class="text-right mb-4">
      <a class="btn btn-success" style="margin-right: 70px"
        href="http://maps.google.com/maps?q=loc:{{viveiro.latitude}},{{viveiro.longitude}}&navigate=yes"
        target="_blank">Ver
        Localização</a>
    </div> -->
    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="feebacks">
          <img class="img-btn-acesso" src="assets/img/estrategia.svg" alt="">
          <span class="text-acesso">DASHBOARD & RELATÓRIOS</span>
        </button>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="racao">
          <img class="img-btn-acesso" src="assets/img/planilha.svg" alt="">
          <span class="text-acesso">CONTROLE DE RAÇÃO</span>
        </button>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="cameras">
          <img class="img-btn-acesso" src="assets/img/cam.svg" alt="">
          <span class="text-acesso">CÂMERAS</span>
        </button>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="anotacoes">
          <img class="img-btn-acesso" src="assets/img/calculadora2.svg" alt="">
          <span class="text-acesso">Medições</span>
        </button>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="aeradores">
          <img class="img-btn-acesso" src="assets/img/fan.svg" alt="">
          <span class="text-acesso">AERADORES</span>
        </button>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center text-center container">
      <div class=" box">
        <button class="btn-acesso btn-acesso-dir align-self-end" routerLink="despesas">
          <img class="img-btn-acesso" src="assets/img/orcamento.svg" alt="">
          <span class="text-acesso">DESPESAS</span>
        </button>
      </div>
    </div>

  </nav>

</app-container-formulario>
<router-outlet (deactivate)='flag = !flag' (activate)='flag = !flag'></router-outlet>
