<footer id="footer" class="bg-white d-print-none">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center remover-margin texto-footer">@ {{retornarDiaAtual()}} - Prefeitura Municipal de Belo
              Horizonte</p>
            <p class="text-center reduzir-padding-top texto-footer remover-margin"> Versão da build:
              {{getVersao()}}</p>
          </div>
        </div>
      </div>
      <p></p>
      <div class="col-md-4 d-flex justify-content-end">
        <div>
          <img src="assets/img/logo_pbh_v2.svg" alt="" class="logo-footer">
        </div>
      </div>
    </div>
  </div>
</footer>